body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  margin: 30px;
}

.book {
  border: 5px solid gray;
  border-radius: 10px;
  margin: 20px;
}
